@model IEnumerable<Course>

@{
    ViewData["Title"] = "Advisor View";
}



<div>
    <h1>
        Advisor View
    </h1>
    <div>
        <h3>
            Student Name: @ViewBag.currentStudent.FirstName 
            @if (ViewBag.currentStudent.MiddleInitial != null)
            {
                Write(ViewBag.currentStudent.MiddleInitial + ".");
            }
            @ViewBag.currentStudent.LastName<br />
            N#: @ViewBag.currentStudent.N_Number<br />
            Major: @if (ViewBag.currentStudent.MajorID == 1)
            {
                Write("Computer Science");
            }
        </h3>
    </div>
</div>
<div>
    <table border="0">
        <thead>
            <tr>
                <th colspan="4" style="text-align: center">
                    <h2>
                        Major: @Model.First().Major
                    </h2>
                </th>
            </tr>
            
        </thead>
        <tbody>
            @foreach (Course c in Model)
            {
            <tr>
                <td colspan="1"><h3 id="@c.CourseID">@nameof(c.CourseID): @c.CourseID</h3></td>
                <td colspan="2"><h3>@c.CourseName</h3></td>
                <td colspan="1"><h3>@nameof(c.CreditHours): @c.CreditHours</h3></td>
            </tr>
            <tr>
                <td colspan="4"><b>@nameof(c.Description)</b>: <i>@c.Description</i></td>
            </tr>
            <tr>
                <td colspan="1"><b>@nameof(c.PreRequisites)</b>: 
                                <ul>
                                    @if (c.PreRequisites.Count() > 0)
                                    {
                                        @foreach (int pR in c.PreRequisites)
                                        {
                                            <li><a href="#@pR">@pR</a></li>;
                                        }
                                    } else
                                    {
                                     <li>N/A</li>   
                                    }
                                </ul>
                </td>
                <td colspan="1"><b>@nameof(c.CoRequisites)</b>:
                                <ul>
                                    @if (c.CoRequisites.Count() > 0)
                                    {
                                        @foreach (int cR in c.CoRequisites)
                                        {
                                            
                                            <li>@cR</li>;
                                        }
                                    }
                                    else
                                    {
                                        <li>N/A</li>
                                    }
                                </ul>
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="4">
                   <hr />
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">
                    <h3 style="text-align:right">Total Hours: @ViewBag.TotalHours</h3>
                </th>
            </tr>
        </tfoot>
</table>

    

</div>

